# Smart Meters in London: Data Cleaning (Part 1/2)


This first jupyter notebook wants to analyse the data that has been retrieved from Kaggle, London Data Store and Accorn CICA Company. There are three main files to analyse and clean for this project: 

- Weather hourly data: 

The structure of this notebook is as follows:

1. Dataset overview
2. Data Cleaning: Missing values 
3. Data Cleaning: Outliers 
4. Date Time columns transformation 
5. Exporting tables to SQL 

__**Datasets that will be initially used for the project**__
- **information_households.csv**
- **weather_hourly_darksky.csv**
- **hhblock_dataset.zip : Block_12**
- **halfhourly_dataset.zip: Block_12**

In [3]:
# Importing libraries required for the analysis 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import datetime 
from sqlalchemy import create_engine 
import os

In [4]:
# Taking a look which is our current working directory. 
os.getcwd()

'/home/ingrid/Documents/DA_Ironhack/Week8/Final_Project/your-project/2.JupyterNotebooks'

## 1. Importing data

#### 1.1. Households clients information

In [6]:
# Importing information_households csv to see their contracts and their ID.
info_househoulds = pd.read_csv('../0.Data/raw_data/informations_households.csv')

In [7]:
info_househoulds.head()

       LCLid stdorToU    Acorn Acorn_grouped     file
0  MAC005492      ToU   ACORN-        ACORN-  block_0
1  MAC001074      ToU   ACORN-        ACORN-  block_0
2  MAC000002      Std  ACORN-A      Affluent  block_0
3  MAC003613      Std  ACORN-A      Affluent  block_0
4  MAC003597      Std  ACORN-A      Affluent  block_0

In [18]:
info_househoulds.dtypes

LCLid            object
stdorToU         object
Acorn            object
Acorn_grouped    object
file             object
dtype: object

In [19]:
info_househoulds.shape

(5566, 5)

#### 1.2 Weather hourly data

In [8]:
weather_hourly = pd.read_csv('../0.Data/raw_data/weather_hourly_darksky.csv')

In [9]:
weather_hourly.head()

,visibility,windBearing,temperature,time,dewPoint,pressure,apparentTemperature,windSpeed,precipType,icon,humidity,summary
0,5.97,104,10.24,2011-11-11 00:00:00,8.86,1016.76,10.24,2.77,rain,partly-cloudy-night,0.91,Partly Cloudy
1,4.88,99,9.76,2011-11-11 01:00:00,8.83,1016.63,8.24,2.95,rain,partly-cloudy-night,0.94,Partly Cloudy
2,3.70,98,9.46,2011-11-11 02:00:00,8.79,1016.36,7.76,3.17,rain,partly-cloudy-night,0.96,Partly Cloudy
3,3.12,99,9.23,2011-11-11 03:00:00,8.63,1016.28,7.44,3.25,rain,fog,0.96,Foggy
4,1.85,111,9.26,2011-11-11 04:00:00,9.21,1015.98,7.24,3.70,rain,fog,1.00,Foggy

#### 1.3 hh block 12 importing.

In [11]:
hh_block12 = pd.read_csv('../0.Data/raw_data/hhblock_dataset/block_12.csv')

In [13]:
hh_block12.head()

,LCLid,day,hh_0,hh_1,hh_2,hh_3,hh_4,hh_5,hh_6,hh_7,...,hh_38,hh_39,hh_40,hh_41,hh_42,hh_43,hh_44,hh_45,hh_46,hh_47
0,MAC000291,2012-03-03,0.187,0.193,0.177,0.197,0.178,0.181,0.192,0.175,...,1.045,1.053,1.003,0.991,0.967,0.643,0.556,0.433,0.361,0.300
1,MAC000291,2012-03-04,0.293,0.269,0.287,0.268,0.275,0.273,0.264,0.284,...,0.367,0.373,0.360,0.387,0.362,0.886,0.899,0.962,0.900,0.709
2,MAC000291,2012-03-05,0.271,0.246,0.270,0.245,0.263,0.267,0.371,0.270,...,0.430,0.436,0.422,0.570,0.933,0.899,0.667,0.669,0.647,0.465
3,MAC000291,2012-03-06,0.242,0.248,0.225,0.255,0.227,0.244,0.232,0.229,...,1.131,0.970,0.948,0.641,0.506,0.583,0.620,0.514,0.300,0.241
4,MAC000291,2012-03-07,0.250,0.228,0.233,0.251,0.262,0.255,0.252,0.255,...,1.059,1.217,1.214,0.960,0.666,0.610,0.491,0.453,0.306,0.247

In [16]:
hh_block12.shape

(32931, 50)

#### 1.4 Half hourly block 12 (Different format than above)

In [12]:
halfhourly_block12 = pd.read_csv('../0.Data/raw_data/halfhourly_dataset/block_12.csv')

/home/linuxbrew/.linuxbrew/opt/python/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [17]:
halfhourly_block12.head()

       LCLid                         tstp energy(kWh/hh)
0  MAC000291  2012-03-02 09:30:00.0000000         1.158
1  MAC000291  2012-03-02 10:00:00.0000000         1.499
2  MAC000291  2012-03-02 10:30:00.0000000         1.433
3  MAC000291  2012-03-02 11:00:00.0000000          0.51
4  MAC000291  2012-03-02 11:30:00.0000000         0.455